/*Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Styling*/

body {
    font-family: 'Source Serif Pro', serif;
    background-color: #07798a;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.8rem;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

h3 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 3%;
    border-bottom: 1px solid black;
    /* max-width: 60%; tried to make the border-bottom line shorter but this line of code makes it act like justify-content: start;*/
}


/* Nav Section */

nav {
    display:flex;
    justify-content: space-between;
}

.headline {
    width: 40%;
    display: flex;
    padding-left: 2%;
    align-items: center;
    margin: auto 2%;
}

.links {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.nav-button {
    color: #fff;
    background-color: #365c3c;
    border-radius: 10px;
    padding: 2% 2%;
    margin: 3% auto;
    box-shadow: 1px 1px darkslategrey;
    transition: .6s ease-in-out;
}

.nav-button:hover {
    background-color: #5c3736;
}

a {
    text-decoration: none;
    margin: 4%;
}


/* Hero Header */

.hero {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 90vh;
    background-image: url(assets/camila-martinez-6Bb4lc8qo4Q-unsplash.jpg);
}

.hello {
    font-size: 30px;
    padding: 10% 0 0 0;
    /* display: none; */
    transition: 1.25s ease-in;
}


/* Project Section Main Page */

.project-grid {
    display: flex;
    flex-wrap: wrap;
}

.project-tile{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 5%;
    width: 40%;
    box-shadow: 1px 1px darkslategrey;
    border-radius: 0 0 5px 5px;
}

.project-img{
    width: 100%;
    opacity: 80%;
    transition: .25s ease-in-out;
}

.project-img:hover {
    opacity: 100%;
}

.project-title {
    display: flex;
    color: black;
    background-color:#ad9158;
    width: 100%;
    padding: 3% 3%;
    border-radius: 0 0 5px 5px;
    justify-content: center;
}

.code {
    color: #ad9158; 
    transition: .5s ease-in-out;
}

.project-tile:hover .code {
    color: black;
}


/* About Page */

.about {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}


/* Social Links */

footer {
    margin-bottom: 4%;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.contact-details {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 2px 2px 1px darkslategrey;
    transition: transform 0.3s ease-out;
    color: #F5F5F5;
    width: 40%;
}

.contact-details:hover {
    transform: translateY(-8px);
}

/* Phone Media Query */
@media (max-width: 960px) {
    
    
    h1 {
        font-size: 1.2rem;
        display: flex;
    }
    
    h2 {
        font-family: 'Source Code Pro', monospace;
        text-align: center;
    }
    
    h3 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin: 3%;
        border-bottom: 1px solid black;
        /* max-width: 60%; tried to make the border-bottom line shorter but this line of code makes it act like justify-content: start;*/
    }
    
    
    /* Nav Section */
    
    nav {
        display:flex;
        justify-content: space-between;
    }
    
    .headline {
        width: 50%;
        display: flex;
        align-items: center;
        margin: auto 2%;
    }
    
    .links {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .nav-button {
        color: #fff;
        background-color: #365c3c;
        border-radius: 10px;
        padding: 2% 2%;
        margin: 3% auto;
        box-shadow: 1px 1px darkslategrey;
        transition: .8s ease-in-out;
    }
    
    .nav-button:hover {
        background-color: #5c3736;
    }
    
    a {
        text-decoration: none;
        margin: 4%;
    }
    
    
    /* Hero Header */
    
    .hero {
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 90vh;
        background-image: url(assets/camila-martinez-6Bb4lc8qo4Q-unsplash.jpg);
    }
    
    .hello {
        font-size: 30px;
        padding: 10% 0 0 0;
        /* display: none; */
        transition: 1.25s ease-in;
    }
    
    
    /* Project Section Main Page */
    
    .project-grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .project-tile{
        display: flex;
        flex-wrap: wrap;
        margin: 5% 5%;
        width: 40%;
        box-shadow: 1px 1px darkslategrey;
        border-radius: 0 0 5px 5px;
    }
    
    .project-img{
        width: 100%;
        opacity: 1;
        transition: .25s ease-in-out;
    }
    
    .project-img:hover {
        opacity: 100%;
    }
    
    .project-title {
        display: flex;
        color: black;
        background-color:#ad9158;
        width: 100%;
        padding: 3% 3%;
        border-radius: 0 0 5px 5px;
        justify-content: center;
    }
    
    .code {
        color: #ad9158; 
        transition: .5s ease-in-out;
    }
    
    .project-tile:hover .code {
        color: black;
    }
    
    
    /* About Page */
    
    .about {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    
    
    /* Social Links */
    
    footer {
        margin-bottom: 4%;
    }
    
    .contact-links {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .contact-details {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        text-shadow: 2px 2px 1px darkslategrey;
        transition: transform 0.3s ease-out;
        color: #F5F5F5;
        width: 40%;
    }
    
    .contact-details:hover {
        transform: translateY(-8px);
    }
}