/*Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Styling*/

* {
    /* border: 2px solid black; */
}

body {
    font-family: 'Source Serif Pro', serif;
    background-color: #07798a;
    max-width: 100%;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    width: 75%;
    font-size: 28px;
    display: flex;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

nav {
    display:flex;
    justify-content: space-between;
}

.headline {
    width: 50%;
}

.links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-button {
    color: #fff;
    background-color: #365c3c;
    border-radius: 10px;
    padding: 2% 2%;
    margin: 3% auto;
    box-shadow: 1px 1px darkslategrey;
}

a {
    text-decoration: none;
}

.hero {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 85vh;
    background-image: url(assets/camila-martinez-6Bb4lc8qo4Q-unsplash.jpg);
}

.hide {
    font-size: 30px;
    padding: 10% 0 0 0;
    /* display: none; */
    transition: 1.25s ease-in;
}

.hero .hide:hover {
    display: flex;
}

.project-tile{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0;
    width: 40%;
    box-shadow: 1px 1px darkslategrey;
}

.project-img{
    width: 100%;
}

.project-title {
    display: flex;
    color: black;
    background-color:#ad9158;
    width: 100%;
    padding: 3% 3%;
    border-bottom: 10px;
    justify-content: center;
}

.code {
    color: #ad9158;
}

/* #lambda {
    background-image: url(assets/LambdaIntroPagePreview.png);
    width: 20%;
}
#product-landing {
    background-image: url(assets/product-preview.png);
    width: 20%;
}

#tribute-page {
    background-image: url(assets/TributePagePreview.png);
    width: 20%;
}
#survey {
    background-image: url(assets/SurveyPagePreview.png);
    width: 20%;
} */